<!--*** CARD FORM ***-->
<div class="container">
  <!--*** BLUR EFFECT ***-->
  <img class="first_space" src="../assets/svg/blur-radial.svg" alt="">
  <img class="second_space" src="../assets/svg/blur-radial.svg" alt="">
  
  <section class="card_section">
    <div class="card">
      <form [formGroup]="stepForm">
        <h3> {{ steps[step].title }} </h3>

        <ng-container [ngSwitch]="step">

          <!--*** STEP 1 ***-->
          <ng-container *ngSwitchCase="1">
            <div class="step_1_form step_flex">
              <div class="form_control">
                <label for=""> Name </label>
                <input type="text" name="" id="" placeholder="enter your name" formControlName="name">
                <small *ngIf="submitted && nameStepForm.hasError('required')"> *This field is required* </small>
              </div>
              <div class="form_control">
                <label for=""> Email </label>
                <input type="email" name="" id="" placeholder="example@gmail.com" formControlName="email">
                <small *ngIf="submitted && emailStepForm.hasError('required')"> *This field is required* </small>
                <small *ngIf="submitted && emailStepForm.hasError('email')"> *This field is not a valid email* </small>
              </div>
            </div>
          </ng-container>

          <!--*** STEP 2 ***-->
          <ng-container *ngSwitchCase="2">
            <div class="step_2_form step_flex">
              <div *ngFor="let t of topics" class="item" (click)="onItemSelected(t.id)" [ngClass]="{ 'selected': t.enabled}" >
                <span> {{ t.label }} </span>
              </div>
              <small *ngIf="isSecondStepError"> Al least one option must be selected </small>
            </div>
          </ng-container>

          <!--*** STEP 3 ***-->
          <ng-container *ngSwitchCase="3">
            <div class="step_3_form step_flex">

              <div class="personal_info">
                <div class="info_item">
                  <p> Name: </p>
                  <span> {{ nameStepForm.value }} </span>
                </div>
                <div class="info_item">
                  <p> Email: </p>
                  <span> {{ emailStepForm.value }} </span>
                </div>
              </div>
              <div class="topics">
                <p> Topics: </p>
                <ul>
                  <li *ngFor="let t of getEnabledTopics()"> {{ t.label }} </li>
                </ul>
              </div>

            </div>
          </ng-container>
        </ng-container>

        <div class="button_place">
          <button type="button" class="btn_continue" [disabled]="step === 3" (click)="onContinue()"> Continue </button>
        </div>

      </form>
    </div>
    <div class="steps_place">
      <span> Step {{ step }} of 3 </span>
      <div class="steps">
        <div class="step" [ngClass]="{'active': step === 1, 'done': steps[1].done === true  }"></div>
        <div class="step" [ngClass]="{'active': step === 2, 'done': steps[2].done === true  }"></div>
        <div class="step" [ngClass]="{'active': step === 3, 'done': steps[3].done === true  }"></div>
      </div>
    </div>
  </section>
</div>